<h1>Crew</h1>
<div class="container">
        <h2>Crew: canoe St. Nicholas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>András Vesztergombi</td>
                    <td>22</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm"><a class="link-light" href="canoe crew_edit.html">Edit</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>János Kovács</td>
                    <td>14</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm"><a class="link-light" href="canoe crew_edit.html">Edit</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Elek Teszt</td>
                    <td>20</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm"><a class="link-light" href="canoe crew_edit.html">Edit</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary"><a class="link-light" href="canoes.html">Back to the canoes</a></button>
    </div>