<h1>Edit canoe</h1>
<div class="container mt-3">
    <div class="card border-primary mb-3">
        <div class="card-header text-white bg-primary">Canoe Details</div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="canoeName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="canoeName" value="St. Christopher">
                </div>
                <div class="mb-3">
                    <label for="maxCrew" class="form-label">Max. Crew</label>
                    <input type="number" class="form-control" id="maxCrew" value="4">
                </div>
                <div class="d-flex justify-content-between align-items- gap-2">
                    <div>
                        <button type="submit" class="btn btn-success"><a class="link-light" href="canoes.html">Save</a></button>
                        <button type="button" class="btn btn-warning"><a class="link-light" href="canoes.html">Cancel</a></button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger"><a class="link-light" href="canoes.html">Delete</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%= link_to "Back", :back %>