<!DOCTYPE html>
<html>

<head>
  <title>Canoes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application" %>
</head>

<body>
  <div id=" page ">
    <div id=" header ">
      </ div>
      <div id="main">
        <div id="menu">
          </ div>
          <div id=" c o n t e n t ">
            <%= y i e l d %>
              </ div>
              </ div>
              <div id=" f o o t e r ">RoR, 2023</ div>
                </ div>
</body>

</html>